.Rproj.user
.Rhistory
.RData
/src/*.o
/src/zip.so
/src/zip.dll
/revdep
/README.html
/sources.zip
/src/tools/cmdunzip
/src/tools/cmdunzip.exe
/src/tools/cmdunzip.dSYM
/src/tools/cmdzip
/src/tools/cmdzip.exe
/src/tools/cmdzip.dSYM
/r-packages
zip.Rproj
